MONGODB_URI=mongodb://mongos:27017/
MONGODB_DB_NAME=posts_db

HISTORY_MONGO_DB_NAME=history
HISTORY_MONGO_URI=mongodb://history_db:27017/

TEST_MONGODB_URI=mongodb://test_mongos:27017/
TEST_MONGODB_DB_NAME=test_posts_db

LOGGER_FILENAME=/opt/logs/posts-api-logs.json
LOGGER_MAXBYTES=15000000
LOGGER_BACKUP_COUNT=5
LOGGER_MOD=1
LOGGER_LOG_LEVEL=INFO
LOGGER_SENTRY_DSN=https://75be878ebe8232ad9ccb2340f9cb24c0@o4506989823262720.ingest.us.sentry.io/4506989826211840

HISTORY_LOGGER_FILENAME=/src/logs/history-api-logs.json
HISTORY_LOGGER_MAXBYTES=15000000
HISTORY_LOGGER_BACKUP_COUNT=5
HISTORY_LOGGER_MOD=1
HISTORY_LOGGER_LOG_LEVEL=INFO
HISTORY_LOGGER_SENTRY_DSN=https://75be878ebe8232ad9ccb2340f9cb24c0@o4506989823262720.ingest.us.sentry.io/4506989826211840

AUTH_SECRET_KEY=something123456fromNozir
AUTH_JWT_ALGORITHM=HS256

LOGGER_FILENAME=/opt/logs/posts-api-logs.json
LOGGER_MAXBYTES=15000000
LOGGER_BACKUP_COUNT=5
LOGGER_MOD=a
LOGGER_LOG_LEVEL=INFO
LOGGER_SENTRY_DSN=https://75be878ebe8232ad9ccb2340f9cb24c0@o4506989823262720.ingest.us.sentry.io/4506989826211840

AUTH_SECRET_KEY=something123456fromNozir
AUTH_JWT_ALGORITHM=HS256

HASHER_ALGORITHM=pbkdf2_sha256
HASHER_ROUNDS=302122

AUTH_API_HOST=auth_api
AUTH_API_PORT=9999

AUTH_REDIS_HOST=redis
AUTH_REDIS_PORT=6379

AUTH_POSTGRES_HOST=auth_postgres
AUTH_POSTGRES_PASSWORD=123qwe
AUTH_POSTGRES_USER=app
AUTH_POSTGRES_DB=auth_database
AUTH_POSTGRES_PORT=5432


AUTH_GOOGLE_CLIENT_ID=560238270570-ii2itecbdi2n6f409bvi3sfqc46qglha.apps.googleusercontent.com
AUTH_GOOGLE_CLIENT_SECRET=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
AUTH_GOOGLE_BASE_URL='https://accounts.google.com/o/oauth2/v2/auth'
AUTH_GOOGLE_TOKEN_URL='https://www.googleapis.com/oauth2/v4/token'
AUTH_GOOGLE_USERINFO_URL='https://www.googleapis.com/oauth2/v1/userinfo'
AUTH_GOOGLE_REDIRECT_URL="http://127.0.0.1:8001/auth"


JAEGER_HOST=jaeger
JAEGER_PORT=6831
JAEGER_ENABLE=False

ADMIN_LOGIN=admin_admin
ADMIN_PASSWORD=password
ADMIN_EMAIL=admin@mail.com


FILE_API_HOST=file_api
FILE_API_PORT=7070
FILE_API_URL=/api/v1/


S3_USER=adminS3
S3_PASSWORD=adminS3pass

OBS_TYPE=postgresql+asyncpg

CINEMA_API_PROJECT_NAME=CinemaAPI

CINEMA_POSTGRES_ENGINE=django.db.backends.postgresql
CINEMA_POSTGRES_NAME=movies_database
CINEMA_POSTGRES_USER=app
CINEMA_POSTGRES_PASSWORD=123qwe
CINEMA_POSTGRES_HOST=postgres
CINEMA_POSTGRES_PORT=5432
PG_ENGINE=django.db.backends.postgresql
PG_NAME=movies_database
PG_USER=app
PG_PASSWORD=123qwe
PG_HOST=postgres
PG_PORT=5432

ES_PORT=9200
ES_HOST=elasticsearch
ES_INDEX=movies

REDIS_HOST=cache
REDIS_PORT=6379
REDIS_DB=0

FILE_POSTGRES_HOST=file_postgres
FILE_POSTGRES_PORT=5432
FILE_POSTGRES_USER=user
FILE_POSTGRES_PASSWORD=user123
FILE_POSTGRES_NAME=file_api

S3_USER=adminS3
S3_PASSWORD=adminS3pass

JAEGER_HOST=auth_jaeger
JAEGER_PORT=6831
JAEGER_ENABLE=False

NOTIFICATIONS_MONGO_DB_HOST=notification_mongodb
NOTIFICATIONS_MONGO_DB_NAME=notifications
NOTIFICATIONS_MONGO_DB_PORT=27017

RABBIT_HOST=worker_rabbit
RABBIT_PORT=5672
RABBIT_USER=user
RABBIT_PASSWORD=password

WEBSOCKET_HOST=ws
WEBSOCKET_PORT=9992

ADMIN_LOGIN=admin_admin
ADMIN_PASSWORD=password
ADMIN_EMAIL=admin@mail.com

WORKER_HOST=worker_api
WORKER_PORT=9998

SMTP_HOST=smtp
SMTP_PORT=1025
SMTP_FROM_USER=someone@gmail.com
SENDGRID_API=12dhqz228dncoqz/rn

tts_path=./model/v1/xtts
tts_language=ru
tts_sample_rate=24000
tts_name=vosk-model-tts-ru-0.7-multi

ES_PORT=9200
ES_HOST=elasticsearch
ES_INDEX=movies

JAEGER_HOST=auth_jaeger
JAEGER_PORT=6831
JAEGER_ENABLE=False

SMTP_HOST=smtp
SMTP_PORT=1025
SMTP_FROM_USER=someone@gmail.com
SENDGRID_API=12dhqz228dncoqz/rn

REDIS_HOST=cache
REDIS_PORT=6379
REDIS_DB=0

DEBUG=True
SECRET_KEY=django-insecure-ndt+77vv6vvav%69w-xdz=dnybdooif#2xq2=3w0-!7p++vphz
ALLOWED_HOSTS=127.0.0.1,app,localhosh,
PG_ENGINE=django.db.backends.postgresql

OBS_TYPE=postgresql+asyncpg
OBSERVER_PG_HOST=postgres_file_api
OBSERVER_PG_PORT=5432
OBSERVER_PG_USER=user
OBSERVER_PG_PASSWORD=user123
OBSERVER_PG_NAME=file_api


qdrant_host=qdrant
qdrant_port=6333
qdrant_embed=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
qdrant_threshold=0.7

translate_checkpoint=Helsinki-NLP/opus-mt-en-ru
translate_source_lang=en_XX
translate_target_lang=ru_RU
translate_max_length=256

t2v_host=text2vec
t2v_port=3303

cinema_host=cinema_api
cinema_port=7000

redis_intent_HOST=redis_intent
redis_intent_PORT=6379
redis_intent_DB=0

ASR_API_HOST=asr_api
ASR_API_PORT=3003

INTENT_API_HOST=intent_api
INTENT_API_PORT=3303

TTS_API_HOST=tts_api
TTS_API_PORT=3004

history_host=history_api
history_port=3001
history_uri=api/v1/chat-history

asr_core_max_size=300500
asr_core_valid_content_type=['audio/wav', 'audio/x-wav']
asr_core_valid_sample_rate=[8000, 16000]
asr_core_recommended_sample_rate=8000
asr_core_max_val=32768

asr_vad_aggressiveness_mode=2
asr_vad_split_size=144000
asr_vad_num_samples=512
asr_vad_size_chunk=256
